@using ProjetoEngSoftII.Helpers;

@model IEnumerable<ProjetoEngSoftII.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Cadastrar novo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cns)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @item.Cpf.InserePontoEHifemCpf()
                </td>
                <td>
                    @item.Rg.InserePontoEHifemRg()
                </td>
                <td>
                    @item.DataNascimento.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cns)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-cpf="@item.Cpf">Editar</a> 
                </td>


            </tr>
        }
    </tbody>
</table>
